body {
  background-color: #040403;
  color: white;
  /* overflow: hidden; */
}

.sidebar-scroll::-webkit-scrollbar {
  width: 8px;
}

.sidebar-scroll::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 4px;
}

.sidebar-scroll::-webkit-scrollbar-track {
  background-color: #222;
}

@keyframes shine {
  0% {
    background-position: 300% center;
  }

  100% {
    background-position: -300% center;
  }
}

.animate-shine {
  animation: shine 8s linear infinite;
}

@keyframes heartbeat-glow {
  0%, 100% {
    transform: scale(1);
    filter: drop-shadow(0 0 0 transparent);
  }
  50% {
    transform: scale(1.2);
    filter: drop-shadow(0 0 8px rgba(255, 223, 0, 0.7));
  }
}

.animate-heartbeat-glow {
  animation: heartbeat-glow 2s ease-in-out infinite;
}

.perspective {
  perspective: 1000px;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

